@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


:root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:16px;
    font-family: 'Space Mono', monospace;

}

body{
    background-color: var(--Light-grayish-cyan);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap:1rem;
}
.main{
    min-height:100vh;
    background-color: var(--White);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
    padding: 2rem;
    margin: auto;
}
.left-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title{
    color:var(--Grayish-cyan)
}
.sec-1{
align-items: flex-end;
}
.fa-solid{
    position: absolute;
    padding-left: 22px;
    padding-top: 55px;
}

.bill-4{
    font-size: 20px;
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan);
    border: none;
    border-radius: 9px;
    padding: 17px 10px 10px 43px;
    
}
.bill-2{
    font-size: 20px;
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan);
    border: none;
    border-radius: 9px;
    padding: 17px 10px 10px 38px;
}

.tip-percent {
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    border: 2px solid var(--Very-dark-cyan);
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}
.tips-container{
    display: flex;
    flex-wrap: wrap;
    width: 19rem;
    margin: auto;
    gap:1rem
}
.sec-1{
    width:18rem;

}
.person{
    font-size: 12px;

}
.tips-container input{
    width:8rem;
    height:3rem;

}
.tip-percent:hover{
    background-color: var(--Strong-cyan);
    color:black;
    border: 2px solid var(--Strong-cyan);
}
/* right-container */
.right-container{
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 44vh;
    background-color: var(--Very-dark-cyan);
}
.form-control-1 {
    color: #fff;
}
.right-1{
    display: flex;
    justify-content: end;
    margin-top: -3rem;
    gap:1rem;
    font-size: 34px;
    
}
.tip-2{
    border: 10px;
    color:black;
}
.title-1{
    margin-top: 2rem;
    
}
.title-2{
    margin-top: 2rem;
}
.left-1{
    font-size: 18px;
}
.btn-reset{
    display: flex;
    align-items: center;
    background-color: var(--Strong-cyan);
    border-radius: 10px;
    width:19rem;
    height: 2rem;
    padding-left: 8rem;
    margin-top: 10rem;
    margin-left: 10px;
    border: 2px solid var(--Strong-cyan);
}

.btn-reset:hover{
    background-color: var(--Very-dark-cyan);
    border: none;
    color: white;
}
.input:hover{
    cursor: pointer;
}



@media screen and (min-width: 768px) {
    body{
        max-height: 100vh;
        min-height: 0%;
    }
.main {
    display: flex;
    flex-direction: row;
    min-height: 57vh;

    align-items: center;
    justify-content: space-between;
}
.tips-container{
    
    width: 19rem;
    
}
.left-container{
    width:50%;
    height: 50vh;
    
}
.right-container{
    width:56%;
height: 45vh;
}
}
@media screen and (min-width: 1024px){
    
    
    .left-container{
        width:50%;
        height:38vh;
    }
    .right-container{
        width:52%;
    height:38vh;}
}